* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ccc;
}

header {
    text-align: center;
    font-size: 2rem;
}

.heading-1 {
    margin-bottom: 30px;
}

.add-bk-btn {
    background-color: #ccc;
    font-size: 1.2rem;
    padding: 12px;
    border: 2px solid #000;
    border-radius: 5px;
}
