* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ccc;
}

header {
    text-align: center;
    font-size: 2rem;
}

.heading-1 {
    margin-bottom: 30px;
}

.add-bk-btn {
    background-color: #ccc;
    font-size: 1.2rem;
    padding: 12px;
    border: 2px solid #000;
    border-radius: 5px;
}

.book-card {
    border: 2px solid #000;
    border-radius: 5px;
    text-align: center;
    max-width: 280px;
    padding: 20px;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.toggle-btn,
.remove-btn {
    border: 2px solid #000;
    border-radius: 5px;
    padding: 8px;
    margin: 5px;
    font-weight: 600;
}

.toggle-btn {
    border: none;
    background-color: #00ff00;
}

.remove-btn {
    border: none;
    background-color: #ff0000;
}